<h3><%= @band.name %></h3>

<%= button_to "Add Album", new_album_url, method: :get %>

<% @band.albums.each do |album| %>
  <%= album %>
  <% album.each do |track| %>
    <%= track.title %>
  <% end %>
<% end %>
