<header class="masthead">
  <nav class="language-nav">
    <ul>
      <li><a id="u-hover" href="">CSS</a></li>
      <li><a id="u-hover" href="">HTML</a></li>
      <li><a id="u-hover" href="">Javascript</a></li>
      <li><a id="u-hover" href="">Ruby</a></li>
    </ul>
  </nav>
  <img class="logo" src="<%= image_url('AA_Times_Logo.png') %>" alt="Logo" >
  <nav>
    <ul class="masthead-links">
      <li><a href="">Tuesday, October 18, 2016</a></li>
      <li>
        <a href=""><i class="fa fa-newspaper-o" aria-hidden="true"></i>
          <span id="u-hover">Today’s Paper</span></a>
      </li>
      <li>
        <a href=""><i class="fa fa-video-camera" aria-hidden="true"></i>
          <span id="u-hover">Video</span></a>
      </li>
      <li><a href="">
        <span id="gray-hover">77°F</span></a>
      </li>
      <li><a href="">
        <span id="gray-hover">AAO</span>
        <strong>+100%</strong></a>
      </li>

    </ul>
  </nav>
</header>
