<h2>Add a New Album</h2>


<br><br>
<strong>Recording Style</strong>
<br>
<label for="recording_style">live</label>
<input type="radio" name="band[recording_style]" value="live">
<label for="recording_style">studio</label>
<input type="radio" name="band[recording_style]" value="studio">
